<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table cellspacing="0" [formGroup]="userForm">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="User Id" formControlName="userId" name="userId" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Pin Number" formControlName="pinNumber" type="password" name="pinNumber" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Repeat Pin Number" formControlName="repeatPinNumber" type="password" name="repeatPinNumber" required>
              <mat-error *ngIf="repeatPassword.invalid && repeatPassword.errors.passwordMatch">Pin Number mismatch</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">Register</button>
    <span>Already have an account ? <a [routerLink]="['/auth/login']">login</a> here</span>
  </mat-card-actions>
</mat-card>
