{% extends "base.html" %}

{% block body %}
    <div class="col-4 offset-4 mt-5">
        <div class="card shadow">
            <h6 class="card-header">
                Please pick your role:
            </h6>
        <div class="card-body">
            <div id="administrator_login">
              <a href="/admin_login">
                <button class="btn btn-primary mt-3 btn-block" name="button">
                    Administrator
                </button>
              </a>
            </div>
            <div id="faculty_login">
              <a href="/faculty_login">
                <button class="btn btn-primary mt-3 btn-block" name="button">
                    Faculty
                </button>
            </a>
            </div>
            <div id="moderator_login">
              <a href="/moderator_login">
                <button class="btn btn-primary mt-3 btn-block" name="button">
                      Moderator
                </button>
              </a>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
