<form>
    <div class="" id="term_selection">
      <div class="form-group">
  <label for="exampleFormControlSelect1">Term: </label>
  <select class="form-control" id="exampleFormControlSelect1">
    <option>Select one</option>
    <option>Fall 2018</option>
    <option>Spring 2019</option>
    <option>Summer 2019</option>
    <option>Fall 2019</option>
  </select>
</div>
    </div>
    <div class="" id="subject_selection">
      <div class="form-group">
   <label for="exampleFormControlSelect2">Please Select Course(s): </label>
   <select multiple class="form-control" id="exampleFormControlSelect2">
     <option value="4220 Advanced Data Analytics">4220
Advanced Data Analytics</option>
 <option value="4260 Software Testing and QA
">4260 Software Testing and QA
</option>
 <option value="1001 Intro to Computing-Hybrid">1001 Intro to Computing-Hybrid</option>
 <option value="1001 Intro to Computing">1001 Intro to Computing</option>
 <option value="2110 Digital Media">2110 Digital Media</option>
 <option value="2110 Digital Media-Hybrid">2110 Digital Media-Hybrid</option>
 <option value="2110H Digital Media-Hybrid Honers">2110 Digital Media-Hybrid Honers</option>
 <option value="2120 intro to Programming">2120 intro to Programming</option>
 <option value="2130 Web Technologies">2130
Web Technologies</option>
 <option value="2140 Programming Fundamentals">2140
Programming Fundamentals</option>
 <option value="2150 Intermediate Programming">2150
Intermediate Programming</option>
 <option value="2201 Introduction to Info Systems">2201 Introduction to Info Systems</option>
 <option value="2500 Intro to Undergrad Research">2500 Intro to Undergrad Research</option>
 <option value="3100 Introduction to Networks">3100 Introduction to Networks</option>
 <option value="3150 Advanced Programming">3150 Advanced Programming</option>
 <option value="3200 Intro to Databases">3200 Intro to Databases</option>
 <option value="3300 Information Security">3300 Information Security</option>
 <option value="3350 Digital Commerce">3350
Digital Commerce</option>
 <option value="3450 Comp Graphics and Multimedia">3450 Comp Graphics and Multimedia</option>
 <option value="3600 Operating Systems">3600
Operating Systems</option>
 <option value="3700 Systems Analysis and Design">3700 Systems Analysis and Design</option>
 <option value="3860 Software Development I">3860 Software Development I</option>
 <option value="3870 Software Development II">3870 Software Development II</option>
 <option value="3900 Professional Pract & Ethics">3900 Professional Pract & Ethics</
 <option value="4100 Advanced Networks">4100
Advanced Networks</option>
 <option value="4110 Digital Media Capstone Project">4110 Digital Media Capstone Project</option>
 <option value="4130 Human Computer Interaction">4130 Human Computer Interaction</option>
 <option value="4150 Enterprise Process Integration">4150 Enterprise Process Integration</option>
 <option value="4200 Advanced Databases">4200 Advanced Databases</option>
 <option value="4210 Information Analytics">4210 Information Analytics</option>
 <option value="4260 Software Testing and QA">4260 Software Testing and QA</option>
 <option value="4320 Internet Security">4320
Internet Security</option>
 <option value="4330 System Administration">4330 System Administration</option>
 <option value="4400 Special Topics in Infor. Tech.">4400 Special Topics in Infor. Tech.</option>
 <option value="4450 Web Development">4450
Web Development</option>
 <option value="4500 Undergraduate Research Project">4500 Undergraduate Research Project</option>
 <option value="4550 Mobile Application Development">4550 Mobile Application Development</option>
 <option value="4650 Game Development">4650 Game Development</option>
 <option value="4700 Artificial Intelligence">4700 Artificial Intelligence</option>
 <option value="4750 Enterprise Architecture Design">4750 Enterprise Architecture Design</option>
 <option value="4800 Internship in Service Learning">4800 Internship in Service Learning</option>
 <option value="4810 Info Technology Project I">4810
Info Technology Project I</option>
 <option value="4860 Software Development Project">4860 Software Development Project
</option>
 <option value="4900 Info Technology Internship">4900 Info Technology Internship</option>
   </select>
 </div>

 <div class="">
  <form action="/action_page.php">
  <input type="checkbox" name="Monday" value="Monday"> Monday
  <input type="checkbox" name="Tuesday" value="Tuesday"> Tuesday
  <input type="checkbox" name="Wednesday" value="Wednesday" > Wednesday
  <input type="checkbox" name="Thursday" value="Thursday"> Thursday
  <input type="checkbox" name="Friday" value="Friday"> Friday
  <input type="checkbox" name="Saturday" value="Saturday" > Saturday
  </form>
